<body>
    <form [formGroup]="editEmployeeForm" class="row" (ngSubmit)=" onSubmit()">
    
    
        <div class="col">
            <h1>Edit Employee Details</h1>
          <!-- <input type="text" placeholder=" e.g 00745634" label="EmpNumber"> <br> -->
          
          <input type="text" formControlName="employee_number"  placeholder=" Employee number" label="Name"> <br>
          <input type="text" formControlName="firstname"  placeholder="Full Names" label="Name"> <br>
          <input type="text" formControlName="surname"  placeholder="Surname" label="Surname"> <br>
          <input type="email" formControlName="email"  placeholder="name@theboringcompany.com" label="Work email"> <br>
          <input type="text" formControlName="address" placeholder="Address" label="Address"> <br>
    
    
          <div class="container">

            <label for="Department" id="Department">Department</label>

            <select type="text" formControlName="department" required>
              <option value="human-resources">Human Resources</option>
              <option value="IT">IT</option>
              <option value="Marketing">Marketing</option>
              <option value="call-center">Call Center</option>

          </select> 
    
          </div>
          <br>
    
          <button type="submit" [disabled]="!editEmployeeForm.valid">Save Changes</button>
    
        </div>
    
    </form>
    
    </body>
    