h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    padding: 30px 20px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td{
  font-size: 20px;
  background-color: #004063;
}

th{
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button{
    font-size: 1.5rem;
    border: 1px solid #FCBF49;
    border-radius: 10px;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    width: 100px;
    
}

button:hover{
  background-color: #F77F00;
  color: #003049;
  border: 1px solid #F77F00;
}

.btn-edit:hover{
  background-color: #FCBF49;
}

.form-control{
  background-color: #003049;
  color: #FCBF49;
  padding: 15px;
  font-size: 1.4rem;
}
.form-control::placeholder{
  color: #FCBF49;
}