*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #004063;
}

.welcome-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

p{
    font-size: 4.5rem;   
    font-weight: bold;
}