
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/367844c9-6818-4963-985d-9cfeb9d077b0/white+logo.png?format=1500w" alt="" width="95px" height="55px">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="#">Home</a></li>
      <li><a routerLink="/pages/create-insert">Create/Update</a></li>
      <li><a href="/pages/view-all-emp">View All Employees</a></li>
      
    </ul>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-default ">

  <div class="container-fluid">
    <div class="navbar-header">
      <div class="logo">
  
      <img src="https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/367844c9-6818-4963-985d-9cfeb9d077b0/white+logo.png?format=1500w" alt="" width="95px" height="55px">
    </div>
    <div class = "home">
      <ul class="nav navbar-nav">
  
        <li ><a href="#">HOME</a></li>
        <li><a routerLink="/pages/create-insert">CREATE</a></li>
        <li><a routerLink="/pages/view-all-emp">VIEW</a></li>
  
      </ul>
    </div>
    </div>
   
  </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <img src="https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/367844c9-6818-4963-985d-9cfeb9d077b0/white+logo.png?format=1500w" alt="Company logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/create-insert">CREATE NEW EMPLOYEE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/view-all-emp">VIEW ALL EMPLOYEES</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  